.track {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 18px;
  background: rgb(14,105,106);
  background: linear-gradient(0deg, rgba(14,105,106,1) 0%, rgba(3,99,12,1) 100%);
  border-radius: 6px;
  padding: 8px;
  text-align: center;;

  &__main-information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    color: rgb(235, 162, 74);
    font-size: 20px;
  }
}