.album {
  display: flex;
  background-color: rgb(7, 6, 39);
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 18px;

  &__image {
    width: 30vh;
    height: 30vh;
    border-radius: 5px;
  }

  &__header {
    color: bisque;
    font-size: 26px;
    margin-bottom: 18px;
  }

  &__information {
    padding-left: 28px;
    p {
      margin-bottom: 8px;
    }
  }
}