.playlist {
  display: flex;
  justify-content: flex-end;
  background: rgb(67,4,79);
  background: linear-gradient(90deg, rgba(67,4,79,1) 29%, rgba(70,0,28,1) 100%);
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 18px;

  &__image {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    transition: 0.25s;
  }

  &__header {
    color: bisque;
    font-size: 26px;
    margin-bottom: 18px;
  }

  &__information {
    padding-right: 28px;
    text-align: right;
    p {
      margin-bottom: 8px;
    }
  }
}

.playlist:hover ~ img {
  border-radius: 15px;
}